@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@import '@fortawesome/fontawesome-free/css/brands.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    hr{
        @apply w-full border-b-[0.5px] border-gray-200
    }
    .auth-input{
        @apply w-full p-2 mb-2 rounded-md ring-1 ring-gray-300 focus:ring-blue-500 focus:outline-none
    }
    .auth-btn{
        @apply bg-blue-500 w-full p-2 mt-4 rounded-md text-white text-sm font-medium
    }

    .sidebar-row{
        @apply px-2 py-1.5 mx-1.5 flex items-center flex-shrink-0 flex-grow rounded-md hover:bg-stone-200 hover:cursor-pointer transition-all duration-300
    }
    .error{
        @apply text-red-500 text-sm text-center font-medium
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

input[type="radio"]:checked + div {
    border: 2px solid #41a8ff;
    transition: all 0.5s;
}
